// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: #1D60BB;
$black: #1F1D2B;
$dark-grey: rgba(70, 70, 72, 1);
$light-gray: rgba(255, 255, 255, 0.12);
$color-secondary: rgba(255, 234, 238, 1);
