// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: rgba(29, 96, 187, 1);
$color-primary-opacity: rgba(29, 96, 187, 0.53);
$black: rgba(46, 46, 47, 1);
$dark-grey: rgba(70, 70, 72, 1);
$light-gray: rgba(110, 110, 110, 1);
$color-secondary: rgba(255, 234, 238, 1);
