// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


h4 {
  font-size: 16px;
}

h3 {
  font-size: 24px;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: white;
}

h1 {
  font-size: 32px;
  color: white;
  font-family: $headers-font;
  font-weight: bold;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
