.carousel-inner {
  text-align: center;
  // margin: 0px auto;
}

#carouselExampleControls0 {
  margin-bottom: 51px;
}
#carouselExampleControls0 img {
  margin-top: 25px;
}

#carouselExampleControls1 img {
  margin-bottom: -8px;
}

#carouselExampleControls2 img {
  margin-top: -60px;
}

#carouselExampleControls3 img {
  margin-top: -15px;
}

#avatar {
  margin-bottom: 60px;
}
