.carousel-inner {
  text-align: center;
  // margin: 0px auto;
}

#carouselExampleControls0 {
  margin-bottom: 51px;
}
#carouselExampleControls0 img {
  margin-top: 10px;
  margin-left: 2px;
}

#carouselExampleControls1 img {
  margin-bottom: -8px;
}

#carouselExampleControls2 img {
  margin-top: -60px;
}

#carouselExampleControls3 img {
  margin-top: -15px;
}

#avatar {
  margin-bottom: 60px;
  // margin-top: 130px;
}

.text-center {
  margin-top: 30px;
  margin-bottom: 30px;
}
