// Specific CSS for your home-page
.log-avatar {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  p {
    margin: 0px;
  }
  margin-bottom: 30px;
  margin-top: 10px;
}


.categories ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.categories {
  color: white;
}

.home-search {
  text-align: center;
  align-content: center;
  background-color: $color-primary-opacity;
  color: white;
  padding: 25px 10px;
  border-radius: 20px;
}

.align-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
