// Specific CSS for your home-page
.log-avatar {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  border-radius: 50%;
  p {
    margin: 0px;
    text-align: left;
    margin-left: 10px;
  }
  margin-bottom: 20px;
  margin-top: 10px;
}

.categories ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-inline-start: 0px;
}

.categories {
  color: white;
  h3 {
    margin-bottom: 20px;
  }
  margin-top: 45px;
}

.home-search {
  text-align: left;
  align-content: center;
  color: white;
}

.align-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.favorites {
  color: white;
  margin-top: 45px;
  h3 {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding-inline-start: 0px;
    padding: 0px;
  }
}

.new-collection {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  .title-collection {
    margin-bottom: 20px;
  }
}

.horizontal-list {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.my-banner {
  background-color: $color-primary;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.shop-list li {
  margin-right: 20px;
}
