// Import page-specific CSS files here.
@import "home";
@import "avatar";

.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 0px !important;
  // margin-left: 2%;
}

.button-add {
  color: white;
  background-color: $color-primary;
  border-radius: 10px;
  padding: 8px 110px;
}

.add-clothe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-product {
  position: relative;
}

.product-photo {
}

.card-product .favorite {
  position: absolute;
  right: 10px;
  bottom: 0px;
  color: pink !important;
}

.favorite {
  color: white;
}
