.clothes_outfit {
  .product-photo {
    background-size: contain;
  }
  .card-product {
    margin-bottom: 0px;
  }
}

#outfit-show {
  .button-add-avatar {
    margin-bottom: 30px;
  }
  .show-pic {
    margin-top: 5px;
    background-size: 150%;
  }
  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

}
