.show-pic {
  height: 350px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.clothe-infos {
  color: white;
  ul {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

.button-add-avatar {
  width: 350px;
  text-align: center;
  text-decoration: none;
  background-color: $color-primary;
  border-radius: 10px;
  padding: 8px 0px;
  margin: 0 auto;
  a {
    color: white;
  }
}

.add-tag {
  width: 350px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  padding: 8px 0px;
  margin: 0 auto;
  color: $color-primary;
  p {
    margin: 0px;
  }
  margin-bottom: 15px;
  margin-top: 30px;
}


.delete-clothe {
  a {
    font-size: 24px;
    color: white;
  }
}
