<div id="outfitslist">
  <div class="card-section">
    <% @outfits.each do |outfit| %>
      <div class="card-product">
        <% if outfit.photo.attached? %>
          <%= link_to outfit_path(outfit) do %>
            <div  class="product-photo" >
              <div class="photo-outfit" style="background-image: url('<%= cl_image_path outfit.photo.key, height: 145, crop: :fill %>')">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
