<div class="search-bar">
  <div class="loup">
    <i class="fas fa-search"></i>
    <%= form_with url: outfits_path, method: :get do |f| %>
      <%= f.text_field :name, class: "form", :placeholder => 'Search your outfit'  %>
    <% end %>
  </div>
  <div class="filter">
    <i class="fas fa-filter"></i>
  </div>
</div>
