<div class="search-bar">
  <div class="loup">
    <i class="fas fa-search"></i>
    <%= form_with url: clothes_path, method: :get do |f| %>
      <%= f.text_field :query, class: "form", :placeholder => 'Search your outfit', value: params[:query]  %>
    <% end %>
  </div>
  <div class="filter">
    <i class="fas fa-filter"></i>
  </div>
</div>
