<div class="search-bar">
  <div class="loup">
    <%= form_with url: clothes_path, method: :get,
      html: { data: { search_clothes_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                        class: "form-control",
                        :placeholder => 'Search your outfit',
                        value: params[:query],
                        data: { search_clothes_target: 'input',
                        action: 'keyup->search-clothes#update' } %>
      <% end %>
  </div>
  <div class="filter">
    <i class="fas fa-filter"></i>
  </div>
</div>
