<div class="shop-card">
  <div class="shop-pic" style="background-image: url('<%= cl_image_path "zara_collection_xobfte", width: 300, height: 140, crop: :fill %>')">
  </div>
  <div class="shop-infos">
    <div class="brand-card" style="background-image: url('<%= cl_image_path "zara_logo_yy9b8c", width: 50, height: 50, crop: :fill %>')">
    </div>
    <div class="shop-description">
      <h4>New winter collection 2022</h4>
      <div class="d-flex"><p>Be ready for the winter </p>
        <p class="but-try">Try It</p>
      </div>
    </div>
  </div>
</div>
