<div class="shop-card">
  <div class="shop-pic" style="background-image: url('<%= cl_image_path shop.photos[1].key, width: 300, height: 140, crop: :fill %>')">
  </div>
  <div class="design-shop">
    <div class="shop-infos">
      <div class="brand-card" style="background-image: url('<%= cl_image_path shop.photos[0].key, width: 50, height: 50, crop: :fill %>')">
      </div>
      <div class="shop-description">
        <h3><%= shop.brand_name %></h3>
        <p><%= shop.description %></p>
      </div>
    </div>
    <div>
      <p class="but-try">Try It</p>
    </div>
  </div>
</div>
