<div data-search-clothes-target="list">
    <div class="card-section">
      <% @clothes.sort.each do |clothe| %>
        <div class="card-product">
          <% if clothe.photo.attached? %>
            <%= link_to clothe_path(clothe) do %>
              <div class="product-photo" style="background-image: url('<%= cl_image_path clothe.photo.key, height: 120, crop: :fill %>')">
              </div>
            <% end %>
          <% end %>
              <div class="favorite" data-controller="favorite-clothe">
                <% if clothe.bookmark %>
                  <%= icon 'fas', 'heart', data: { cloth_id: clothe.id, action: 'click->favorite-clothe#favorite'} %>
                <% else %>
                  <%= icon 'far', 'heart', data: { cloth_id: clothe.id, action: 'click->favorite-clothe#favorite'} %>
                <% end %>
              </div>
        </div>
      <% end %>
    </div>
  </div>
