<%= link_to "Add a clothe", new_clothe_path %>
<div class="container">
  <div class="header">
    <h1>Clothes</h1>
  </div>
  <div class="search">
      <%= render "shared/search" %>
  </div>
  <div class="card-section">
    <% @clothes.each do |clothe| %>
      <div class="card-product">
        <% if clothe.photo.attached? %>
          <%= link_to clothe_path(clothe) do %>
            <div class="product-photo" style="background-image: url('<%= cl_image_path clothe.photo.key, height: 120, crop: :fill %>')">
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
