<%= link_to "Add a clothe", new_clothe_path %>
<div class="container">
  <div class="header">
    <h1>Clothes</h1>
  </div>
  <div class="search">
      <%= render "shared/search" %>
  </div>
  <%= render "clothes_list" %>
</div>
