<div class="container" data-controller="search-clothes">
  <div class="header">
    <h1>Clothes</h1>
  </div>
  <div class="search">
      <%= render "shared/search" %>
  </div>
  <%= render "clothes_list" %>
  <div class='add-clothe'>
    <%= link_to "Add a new clothe", new_clothe_path, class: "button-add"%>
  </div>
</div>
