<div class="container">
  <p>Find me in app/views/pages/home.html.erb</p>

  <%= render "shared/search" %>
  <br>
  <%= render "shared/button_sign_in" %>
  <br>
  <%= render "shared/button_sign_up" %>
  <br>
  <%= render "shared/card_product" %>
  <br>
  <br>
  <br>
</div>
