.button-sign-in {
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  background: $color-primary;
  width: 167px;
  height: 52px;
  text-align: center;
  border: solid 2px white;
  margin-bottom: 20px;
  text-decoration: none;
}

.button-sign-in h3 {
  margin: 0;
}

.button-sign-up {
  color: $color-primary;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: white;
  width: 167px;
  height: 52px;
  text-align: center;
  h3 {
    color: $color-primary;
  }
}
