.card-product {
  height: 160px;
  width: 160px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-photo {
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-product-slide {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.product-photo-slide {
  height: 180px;
  width: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
