.tag-flag {
  text-align: center;
  color: white;
  background-color: $light-gray;
  width: 80px;
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

 .tag-flag p {
   margin: 0px;
 }
