.tag-flag {
  text-align: center;
  color: white;
  background-color: $light-gray;
  width: 80px;
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 20px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

 .tag-flag p {
   margin: 0px;
 }
