// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "search";
@import "button";
@import "card_product";
@import "category";
@import "tag";
@import "shop_card";
@import "filters";

body {
  margin-bottom: 100px;
}

.header {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  margin-bottom: 30px;
}
a:hover {
  text-decoration: none;
}
