.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  color: $light-gray;
  width: 300px;
  padding: 6px 15px;
  border-radius: 30px;
}

.loup i {
  color: $light-gray;
}

.filter i {
  color: $color-primary;
}

.loup {
  display: flex;
  align-items: center;
}
 .loup p {
    margin: 0;
 }

 .loup i {
   margin-right: 10px;
 }

 .form-control {
  background: transparent;
  border: none;
 }

 .form-control:hover {
  background: transparent;
  border: none;
 }
