.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: $light-gray;
  width: 100%;
  padding: 6px 6px;
  border-radius: 8px;
}

.filter i {
  color: $color-primary;
}

.loup {
  display: flex;
  align-items: center;
}
 .loup p {
    margin: 0;
 }

 .form-control {
  background: transparent;
  border: none;
 }

 .form-control:hover {
  background: transparent;
  border: none;
 }
