.shop-card {
  width: 320px;
  height: 225px;
  margin: 20px 0;
  background-color: $light-gray;
  border-radius: 20px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.shop-pic {
  margin: 0 auto 10px auto;
  width: 310px;
  height: 140px;
  border-radius: 20px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain
}

.shop-infos {
  display: flex;
  align-items: center;
  justify-content: left;
  p {
    margin: 0px;
  }
}

.but-try{
  background-color: $color-primary;
  color: white;
  border-radius: 8px;
  padding: 4px 10px;
  p {
    margin: 0px;
    text-align: center;
  }
  margin-right: 10px;
  font-size: 14px;
  justify-content: right;
}

.brand-card {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

.shop-description {
  h3 {
    margin: 0;
  }
}

.design-shop {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
